# Core functionality - changes here should be rare!
/src/app.py                   @CJXSIN
/src/backend/database.py      @CJXSIN
/src/backend/routers/auth.py  @CJXSIN

# The frontend will need refactored soon to be more object oriented.
/src/static/   @CJXSIN
